.themeBtns{
    width: fit-content;
    border-radius: 20px;
    background-color: #c841b5aa;
    padding: 5px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    position: absolute;
    top: 5%;

    left: 50%;
    transform: translateX(-50%);
    /* z-index: 15; */
    height: 40px;
    margin: 90px auto 0 auto;
}
.iconTheme{
    width: 40px;
}



@keyframes sun{
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0);
    }
}

.icon-sun{
    animation: sun 0.3s ease-in-out;
}

@keyframes moon{
    0%{
        transform: scale(90%);
    }
    50%{
        transform: scale(80%);
    }
    100%{
        transform: scale(90%);
    }
}

.icon-moon{
    animation: moon 0.3s ease-in-out;
}


.themeBtnsLight{
    background-color: #c423add4;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 15px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a158a3;
        -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(169 110 151);
}

input:focus+.slider {
    box-shadow: 0 0 1px #7B61FF;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider {
    border-radius: 34px;
}

.slider:before {
    border-radius: 50%;
}

@media(max-width: 1024px){
    .switch{
        width: 50px;
        height: 24px;
    }
    .slider:before {
        width: 16px;
        height: 16px;
    }
    .iconTheme{
        width: 30px;
    }
}

@media(max-width: 900px){
    .switch{
        width: 50px;
        height: 24px;
    }
    .slider:before {
        width: 16px;
        height: 16px;
    }
    .iconTheme{
        width: 30px;
    }
}