.themeBtns{
    width: fit-content;
    border-radius: 20px;
    background-color: #515b57aa;
    padding: 5px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    position: fixed;
    top: 0;
    z-index: 2;
}
.iconTheme{
    width: 40px;
}

.themeBtnsLight{
    background-color: #878787aa;

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 15px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #80858B;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(180, 187, 183);
}

input:focus+.slider {
    box-shadow: 0 0 1px #7B61FF;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider {
    border-radius: 34px;
}

.slider:before {
    border-radius: 50%;
}