
html {
    height: 100%;
    overflow: hidden;
}

.tg{
    position: absolute;
    width: 60px;
    top: 2%;
    right: 2%;
    z-index: 100;
}

.menu-wrap{
    display: none;
    width: 300px;
    height: 250px;
    position: absolute;
    z-index: 15;
    
}

.menu-container{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #323232d0;
    border-bottom-right-radius: 25px;
}

.menu-light{
    background-color: #696969d0;

}

@keyframes visible-menu {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.menu-active{
    display: flex;
    animation: visible-menu 0.3s ease-in-out;
}



.section-container{
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.main-wrapper {
    padding: 0;
    transition: 0.3s;
    margin: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    
}





.name{
    color: #ffffff;
}





.imgsect1,
.imgsect3 {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    filter: blur(3px);

}


.spanname {
    background: linear-gradient(45deg, #cf1313, #004ebb, #f308ef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #ffffffbe;
    filter: drop-shadow(-4px 4px 2px rgb(255, 255, 255));
    /* font-size: 90px; */
    font-weight: 700;
    margin-left: 20px;
}

.line{
    width: 100%;
    height: 20px;
    background-color: #1f2124;
    position: relative;
}



@media(max-width: 1200px){
    .tg{
        width: 50px;
    }
}


@media(max-width: 1000px){
    .tg{
        width: 40px;
    }
}


@media(max-width: 800px){
    .tg{
        width: 30px;
    }
}