
html {
    height: 100%;
    overflow: hidden;
}


.menu-wrap{
    display: none;
    background-color: #000000d0;
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: 15;
    border-bottom-right-radius: 20px;
    
}

@keyframes visible-menu {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.menu-active{
    display: flex;
    animation: visible-menu 0.3s ease-in-out;
}



.section-container{
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.main-wrapper {
    padding: 0;
    transition: 0.3s;
    margin: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    
}





.name{
    color: #ffffff;
}





.imgsect1,
.imgsect3 {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    filter: blur(3px);

}


.spanname {
    background: linear-gradient(45deg, #cf1313, #004ebb, #f308ef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #ffffffbe;
    filter: drop-shadow(-4px 4px 2px rgb(255, 255, 255));
    /* font-size: 90px; */
    font-weight: 700;
    margin-left: 20px;
}



